# IntelliJ IDEA
.idea/

# Maven
target/
*.iml
*.iws

# Compiled class file
*.class

# Log files
*.log

# Maven Wrapper (https://github.com/takari/maven-wrapper)
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# User-specific files
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

# Compiled bytecode
bin/

# Compiled Maven JAR
*.jar

# Dependencies
lib/

# Eclipse
.classpath
.project
.settings/

# Visual Studio Code
.vscode/

# Operating System files
.DS_Store
Thumbs.db
